/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --very-dark-green: #404040;
  --dark-green: #48534b;
  --light-green: #9ea888;
  --light-gray: #ddd;
  --white: #fff;
}

body {
  background-image: linear-gradient(150deg, #b9c3a8, #666f5b);
  height: 100%;
  padding: 2rem;
}

p {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-green);
}

main {
  width: 90%;
  margin: auto;
}

/* TITLE */

.title-container {
  width: 95%;
  margin: 0 auto 20px;
}

#title {
  color: #404040;
  font-weight: 600;
}

#title i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* FORM */

form {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem 2rem 1.5rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.container {
  flex-basis: 30%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container:nth-child(2) {
  position: relative;
}

.container:nth-child(2)::before,
.container:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  left: -40px;
  bottom: 0;
  width: 1.2px;
  height: 90%;
  background: var(--light-gray);
}

.container:nth-child(2)::after {
  left: unset;
  right: -20px;
}

.form-section h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--light-green);
  margin-bottom: 20px;
  font-weight: 700;
}

.form-control {
  margin-bottom: 15px;
}

.form-control label,
.form-control p {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-green);
}

input[type='text'],
input[type='email'],
input[type='tel'],
select,
textarea {
  display: block;
  width: 90%;
  height: 40px;
  background-color: #fafafa;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  padding: 10px;
}

textarea {
  height: 100px;
}

.button-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.button-container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1.2px;
  background: var(--light-gray);
}

.img-container {
  justify-content: flex-end;
}

.doctor-img {
  width: 85%;
  margin: 0 auto;
}

#submit {
  margin-top: 1.5rem;
  background-color: var(--light-green);
  color: var(--white);
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 10px;
}

i.fas.fa-chevron-right {
  margin-left: 15px;
}

#submit:hover {
  background-color: var(--dark-green);
}

/* FORM VALIDATION */

/* MEDIA QUERIES */

@media all and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .container:nth-child(2)::before,
  .container:nth-child(2)::after {
    content: none;
  }
}
